body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-sm: 14px;

  /* Colors */
  --color-whitesmoke-100: #f4f4f4;
  --primary-0: #fff;
  --color-darkgray-100: #acacac;
  --color-darkgray-200: #a5a5a5;
  --color-darkslategray: #333;
  --color-silver: #c8c8c8;
  --color-red-100: rgba(255, 0, 0, 0.3);
  --color-black: #000;
  --secondary-500: #141522;
  --color-gray-100: #0f1419;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-7xl: 26px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-10xs: 3px;
}
.ark {
  width: 136px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.ark-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.vuesaxlinearcategory-2-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.teams {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-black);
  text-align: left;
}
.overview,
.overview1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.overview1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.overview {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-3xs);
  flex-direction: column;
}
.vuesaxlinearbook-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.all-task {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 49px;
}
.course {
  border: none;
  border-radius: var(--br-3xs);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 44px var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xs);
  white-space: nowrap;
  color: var(--secondary-500);
}
.course:hover {
  background-color: rgb(239, 239, 239);
}
.task-icon {
  height: 26px;
  width: 26px;
  position: relative;
  object-fit: cover;
  min-height: 26px;
}
.my-task {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
}
.course1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 35px var(--padding-3xs) var(--padding-xl);
  background-color: var(--primary-0);
  width: 149px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.course1:hover {
  background-color: rgb(239, 239, 239);
}
.vuesaxlinearmessage-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.message {
  flex: 1;
  position: relative;
  left: -25px;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 550;
}
.mentors,
.mentors1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mentors1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.mentors {
  cursor: pointer;
  border-radius: var(--br-3xs);
  border: none;
  background-color: white;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xl);
}
.vuesaxlinearsetting-2-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.settings2 {
  flex: 1;
  left: -25px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
}
.settings,
.settings1 {
  align-self: stretch;
  align-items: flex-start;
}
.settings1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.settings {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-3xs);
}
.frame-group,
.settings,
.side-menu1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side-menu1 {
  position: relative;
  top: 50px;
  width: 188px;
  align-items: flex-end;
  gap: 24px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.shutdown-icon {
  height: 28px;
  width: 28px;
  position: relative;
  top: 50px;
  object-fit: cover;
}
.log-out {
  position: relative;
  top: 50px;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 16px;
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 58px;
}
.log-out-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.shutdown-parent {
  position: relative;
  top: 120px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  gap: 3px;
}
.frame-parent,
.frame-wrapper,
.shutdown-parent,
.side-menu-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  flex-direction: row;
  padding: 0 46px;
  font-size: 16px;
  color: var(--color-black);
}
.frame-parent,
.side-menu-inner {
  flex-direction: column;
}
.frame-parent {
  align-self: stretch;
  gap: 506px;
}
.side-menu-inner {
  height: 983px;
  width: 195px;
  flex-shrink: 0;
}
.logo {
  height: 40px;
  width: 70px;
  display: none;
}
.line,
.side-menu {
  box-sizing: border-box;
}
.line {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid #f5f5f7;
  flex-shrink: 0;
}
.side-menu {
  height: 1024px;
  width: 252px;
  background-color: var(--primary-0);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 32px;
  gap: var(--gap-6xl);
}
.title {
  width: 261px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.title-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.notif-icon,
.notification-content-icon {
  height: 52px;
  width: 52px;
  position: relative;
  min-height: 52px;
}
.notification-content-icon {
  z-index: 1;
}
.notification-icon,
.notification-icon-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.notification-icon {
  flex-direction: row;
  gap: 19px;
}
.notification-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  margin-left: -47px;
}
.profil {
  width: 52px;
  height: 52px;
  position: relative;
  border-radius: 100px;
}
.header,
.profil-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profil-wrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  margin-left: -47px;
}
.header {
  align-self: stretch;
  background-color: var(--primary-0);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xl) 31px var(--padding-7xl) 40px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
.back-button {
  padding: 10px 20px;
  background-color: none;
  border: none;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}
.title1 {
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-black);
  text-align: left;
}
.vuesaxlineararrow-right-icon {
  height: 42px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  bottom: -4px;
  left: -41px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.title-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  flex-shrink: 0;
}
.checkbox {
  height: 14px;
  width: 14px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  border-radius: var(--br-10xs);
  background-color: var(--primary-0);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: none;
}
.value {
  height: 40px;
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.stable-table-cell {
  flex-direction: row;
  justify-content: flex-start;
  min-width: 172px;
}
.stable-table-cell,
.stable-table-cell1,
.value1 {
  flex: 1;
  display: flex;
  align-items: center;
}
.value1 {
  height: 40px;
  position: relative;
  line-height: 19px;
  font-weight: 700;
}
.stable-table-cell1 {
  flex-direction: row;
  justify-content: flex-start;
  min-width: 172px;
}
.value2 {
  align-self: stretch;
  width: 150px;
  position: relative;
  line-height: 19px;
  display: none;
  align-items: center;
}
.stable-table-cell2,
.value3 {
  height: 50px;
  align-items: center;
}
.stable-table-cell2 {
  width: 162px;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
}
.value3 {
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: flex;
}
.stable-table-cell3 {
  width: 162px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.value4 {
  height: 50px;
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.stable-table-cell4 {
  width: 162px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.stable-table-grid,
.stable-table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.stable-table-grid {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-3xs);
}
.stable-table-row {
  align-self: stretch;
  background-color: #ececec;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  min-height: 42px;
  flex-shrink: 0;
  color: var(--color-gray-100);
}
.checkbox1 {
  height: 14px;
  width: 14px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  border-radius: var(--br-10xs);
  background-color: var(--primary-0);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: none;
}
.value5 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.value6 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.stable-table-cell7,
.value7 {
  display: none;
  align-items: center;
}
.value7 {
  align-self: stretch;
  width: 150px;
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell7 {
  height: 50px;
  width: 162px;
  flex-direction: row;
  justify-content: flex-start;
}
.value8 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell8 {
  width: 162px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.stable-table-cell9 {
  height: 50px;
  width: 162px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: none;
}
.stable-table-grid1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.checkbox2,
.stable-table-row1 {
  background-color: var(--primary-0);
  box-sizing: border-box;
}
.stable-table-row1 {
  align-self: stretch;
  border: 1px solid var(--color-darkgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  min-height: 62px;
  max-width: 100%;
  flex-shrink: 0;
}
.checkbox2 {
  height: 14px;
  width: 14px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-silver);
  display: none;
}
.value9 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell10 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.value10 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell11 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.stable-table-cell12,
.value11 {
  display: none;
  align-items: center;
}
.value11 {
  align-self: stretch;
  width: 150px;
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell12 {
  height: 50px;
  width: 162px;
  flex-direction: row;
  justify-content: flex-start;
}
.value12 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell13 {
  width: 162px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.stable-table-cell14 {
  height: 50px;
  width: 162px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: none;
}
.stable-table-grid2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.checkbox3,
.stable-table-row2 {
  background-color: var(--primary-0);
  box-sizing: border-box;
}
.stable-table-row2 {
  align-self: stretch;
  border: 1px solid var(--color-darkgray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  min-height: 62px;
  max-width: 100%;
  flex-shrink: 0;
}
.checkbox3 {
  height: 14px;
  width: 14px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid #6926d7;
  display: none;
}
.value13 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell15 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.value14 {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell16 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.stable-table-cell17,
.value15 {
  display: none;
  align-items: center;
}
.value15 {
  align-self: stretch;
  width: 150px;
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell17 {
  height: 50px;
  width: 162px;
  flex-direction: row;
  justify-content: flex-start;
}
.value16 {
  flex: 1;
  position: relative;
  line-height: 19px;
  font-weight: 600;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell18 {
  width: 162px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #4005a0;
}
.stable-table-cell19 {
  height: 50px;
  width: 162px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: none;
}
.stable-table-grid3,
.stable-table-row3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stable-table-grid3 {
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.stable-table-row3 {
  background-color: var(--primary-0);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  min-height: 62px;
  flex-shrink: 0;
  max-width: 104%;
}
.frame-child {
  height: 29px;
  width: 53px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-100);
  border: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  display: none;
}
.leave {
  position: relative;
  font-size: 12px;
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  min-width: 35px;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 1px solid var(--color-darkgray-200);
  padding: 0 8px var(--padding-9xs) var(--padding-3xs);
  background-color: var(--color-red-100);
  border-radius: var(--br-3xs);
  flex-direction: row;
  z-index: 1;
}
.rectangle-parent:hover {
  background-color: rgba(255, 38, 38, 0.3);
  border: 1px solid #737373;
  box-sizing: border-box;
}
.rectangle-parent,
.table-row-container,
.table-row-container-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.table-row-container-inner {
  position: relative;
  top: -5px;
  flex-direction: column;
  padding: 15px 0 0;
  flex-shrink: 0;
  margin-left: -73px;
}
.table-row-container-inner1 {
  position: relative;
  top: -6px;
  flex-direction: column;
  padding: 15px 0 0;
  flex-shrink: 0;
  margin-left: -73px;
}
.table-row-container-inner2 {
  position: relative;
  top: 5px;
  flex-direction: column;
  padding: 15px 0 0;
  flex-shrink: 0;
  margin-left: -73px;
}
.table-row-container-inner3 {
  position: relative;
  top: -10px;
  flex-direction: column;
  padding: 15px 0 0;
  flex-shrink: 0;
  margin-left: -73px;
}
.table-row-container {
  align-self: stretch;
  height: 60px;
  flex-direction: row;
  padding: 0 18px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-black);
}
.checkbox4 {
  height: 14px;
  width: 14px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  border-radius: var(--br-10xs);
  background-color: var(--primary-0);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: none;
}
.value17 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.stable-table-cell20,
.stable-table-cell21 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 172px;
}
.stable-table-cell21 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 60px;
  font-family: var(--font-inter);
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray);
}
.stable-table-cell22,
.value18 {
  display: none;
  align-items: center;
}
.value18 {
  align-self: stretch;
  width: 150px;
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell22 {
  height: 50px;
  width: 162px;
  flex-direction: row;
  justify-content: flex-start;
}
.value19 {
  flex: 1;
  position: relative;
  line-height: 19px;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stable-table-cell23 {
  width: 162px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.stable-table-cell24 {
  height: 50px;
  width: 162px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: none;
}
.stable-table-grid4,
.stable-table-row4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.stable-table-grid4 {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-3xs);
}
.stable-table-row4 {
  align-self: stretch;
  background-color: var(--primary-0);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  min-height: 62px;
  flex-shrink: 0;
}
.frame-container,
.user-table {
  flex-direction: column;
  max-width: 100%;
}
.user-table {
  align-self: stretch;
  height: 282px;
  box-shadow: 0 22.8px 48.83px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.frame-container {
  width: 579px;
  gap: 36px;
}
.content,
.frame-container,
.header-parent,
.member-member-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  flex-direction: row;
  padding: 0 51px;
  box-sizing: border-box;
  max-width: 100%;
}
.header-parent,
.member-member-list {
  text-align: left;
  font-family: var(--font-plus-jakarta-sans);
}
.header-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xl);
  max-width: calc(100% - 252px);
  font-size: 15px;
  color: var(--color-black);
}
.member-member-list {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
  line-height: normal;
  font-size: 32px;
  color: var(--secondary-500);
}
@media screen and (max-width: 850px) {
  .ark {
    font-size: 26px;
    line-height: 38px;
  }
  .side-menu {
    display: none;
  }
  .content {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .header-parent {
    max-width: 100%;
  }
  .member-member-list {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .table-row-container,
  .user-table {
    height: auto;
  }
  .frame-container {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .ark {
    font-size: 19px;
    line-height: 29px;
  }
}
