body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --medium-type16: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --medium-type16-size: 16px;
  --medium-type12-size: 12px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;

  /* Colors */
  --color-whitesmoke-100: #f4f4f4;
  --primary-0: #fff;
  --secondary-500: #141522;
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --color-black: #000;

  /* Gaps */
  --gap-9xs: 4px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-11xs: 2px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-3xs: 10px;
}
.ark {
  width: 136px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.menu-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.vuesaxlinearcategory-2-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.teams {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--medium-type16);
  color: var(--color-black);
  text-align: left;
}
.overview,
.overview1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.overview1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.overview {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-whitesmoke-100);
  border-radius: var(--br-3xs);
  flex-direction: column;
}
.vuesaxlinearmessage-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.message {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--medium-type16);
  color: var(--color-black);
  text-align: left;
}
.mentors,
.mentors1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mentors1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.mentors {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-3xs);
  flex-direction: column;
}
.vuesaxlinearsetting-2-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.settings2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--medium-type16);
  color: var(--color-black);
  text-align: left;
}
.settings,
.settings1 {
  align-self: stretch;
  align-items: flex-start;
}
.settings1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.settings {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: transparent;
  border-radius: var(--br-3xs);
}
.menu-content-parent,
.settings,
.side-menu-inner,
.side-menu1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side-menu1 {
  margin: 0;
  width: 188px;
  align-items: flex-end;
  gap: 24px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--medium-type16);
}
.shutdown-icon {
  position: relative;
  top: 630px;
  height: 28px;
  width: 28px;
  position: relative;
  object-fit: cover;
}
.log-out {
  position: relative;
  top: 630px;
  font-size: var(--medium-type16-size);
  letter-spacing: -0.02em;
  line-height: 16px;
  font-weight: 600;
  font-family: var(--medium-type16);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 58px;
}
.bottom-content,
.bottom-content-wrapper,
.log-out-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.log-out-wrapper {
  flex-direction: column;
  padding: 5px 0 0;
}
.bottom-content,
.bottom-content-wrapper {
  flex-direction: row;
}
.bottom-content {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  gap: 3px;
}
.bottom-content-wrapper {
  padding: 0 46px;
}
.menu-content-parent,
.side-menu-inner {
  align-items: flex-start;
}
.menu-content-parent {
  align-self: stretch;
  gap: 51px;
}
.side-menu-inner {
  width: 195px;
  padding: 41px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.logo {
  height: 40px;
  width: 70px;
  display: none;
}
.menu-divider {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid #f5f5f7;
  box-sizing: border-box;
  flex-shrink: 0;
}
.side-menu {
  height: 1024px;
  width: 252px;
  background-color: var(--primary-0);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 25px 0 32px;
  box-sizing: border-box;
  gap: 25px;
}
.notif-icon {
  height: 52px;
  width: 52px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 76px;
}
.teams1 {
  width: 252px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 150%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.search-normal-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.search-course {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 55px;
}
.search-placeholder,
.searching {
  display: flex;
  align-items: center;
  gap: 10px;
}
.searching {
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 48px;
  padding: 5px;
}
.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0;
  font-size: inherit;
}
.category-icon {
  height: 24px;
  width: 26px;
  position: relative;
  object-fit: cover;
}
.new-team {
  text-decoration: none;
  position: relative;
  top: 4px;
  font-size: var(--medium-type12-size);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--medium-type16);
  color: var(--secondary-500);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.category,
.search-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.category {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: 11px 23px;
  background-color: transparent;
  width: 145px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.category:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 2px solid #333;
  box-sizing: border-box;
}
.search-field {
  align-self: stretch;
  flex-wrap: wrap;
}
.search-course1 {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  min-width: 68px;
}
.search-placeholder-duplicate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 76px;
  font-size: 10px;
}
.search-input {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.profile-image,
.search-input,
.search-input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-input-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--medium-type12-size);
  color: var(--color-gray-100);
}
.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  flex-direction: column;
  gap: 31px;
}
.profil {
  position: absolute;
  top: 0;
  left: 1072px;
  border-radius: 100px;
  width: 52px;
  height: 52px;
}
.profile-icon {
  height: 145.5px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.notification-content-icon {
  height: 52px;
  width: 52px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 5px;
  z-index: 1;
}
.header,
.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.notification {
  flex: 1;
  position: relative;
}
.header {
  position: relative;
  top: 0px;
  align-self: stretch;
  background-color: var(--primary-0);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px 31px 21px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--secondary-500);
  font-family: var(--medium-type16);
}
.title {
  flex: 1;
  position: relative;
  top: 0px;
  letter-spacing: -0.03em;
  line-height: 150%;
  font-weight: 600;
}
.title-wrapper {
  width: 324px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 64px;
  box-sizing: border-box;
  max-width: 100%;
}
.content-divider {
  height: 311px;
  width: 13px;
  position: relative;
  border-radius: 7px;
  background-color: #9d9d9d;
}
.image-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.title1,
.your-job-as {
  position: relative;
  letter-spacing: -0.02em;
}
.title1 {
  align-self: stretch;
  line-height: 20px;
  font-weight: 600;
}
.your-job-as {
  font-size: var(--medium-type12-size);
  font-weight: 500;
  color: #989898;
}
.task-details {
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 9px;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.vuesaxlinearbook-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.all-task {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  min-width: 49px;
}
.course {
  border: none;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 44px var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xs);
  white-space: nowrap;
  color: var(--secondary-500);
}
.course:hover {
  background-color: rgb(239, 239, 239);
}
.task-icon {
  height: 26px;
  width: 26px;
  position: relative;
  object-fit: cover;
  min-height: 26px;
}
.my-task {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: -0.02em;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--secondary-500);
  text-align: left;
}
.course1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 35px var(--padding-3xs) var(--padding-xl);
  background-color: var(--primary-0);
  width: 149px;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.course1:hover {
  background-color: rgb(239, 239, 239);
}
.task-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.tasks {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}
.task-stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.members {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 74px;
}
.members-count,
.task-footer {
  display: flex;
  align-items: flex-start;
}
.members-count {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--font-size-sm);
}
.task-footer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.content-container,
.task-1,
.task-1-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.task-1 {
  position: relative;
  top: 0px;
  align-self: stretch;
  height: 255px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-0);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) 15px;
  box-sizing: border-box;
  gap: 16px;
}
.content-container,
.task-1-wrapper {
  max-width: 100%;
}
.task-1-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 16px 0 0;
  box-sizing: border-box;
  min-width: 213px;
}
.content-container {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 47px;
  font-size: var(--medium-type16-size);
  color: var(--secondary-500);
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
  max-width: 100%;
}
.content,
.content-body,
.frame-parent,
.teams-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-body {
  width: 412px;
  flex-direction: row;
  padding: 0 12px;
  box-sizing: border-box;
  max-width: 100%;
}
.content,
.teams-list {
  text-align: left;
  font-family: var(--medium-type16);
}
.content {
  flex: 1;
  flex-direction: column;
  gap: 29px;
  max-width: calc(100% - 252px);
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.teams-list {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  font-size: 32px;
  color: var(--secondary-500);
}
@media screen and (max-width: 850px) {
  .ark {
    font-size: 26px;
    line-height: 38px;
  }
  .side-menu {
    display: none;
  }
  .teams1,
  .title {
    font-size: var(--font-size-5xl);
    line-height: 36px;
  }
  .content {
    max-width: 100%;
  }
  .teams-list {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ark {
    font-size: 19px;
    line-height: 29px;
  }
  .teams1 {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .profile-icon {
    height: auto;
    min-height: 145.5;
  }
  .title {
    font-size: var(--font-size-lg);
    line-height: 27px;
  }
  .title-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content-divider {
    width: 100%;
    height: 13px;
  }
  .content-container {
    gap: 23px;
  }
  .content {
    height: auto;
  }
}
