body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f4f4f4;
  --color-black: #000;
  --primary-0: #fff;
  --secondary-500: #141522;

  /* Gaps */
  --gap-6xl: 25px;
  --gap-7xs: 6px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-7xl: 26px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-5xs: 8px;
}
